.main {
  height: 100vh;
  width: 100vw;
  position: relative;

  .contentHeading {
<<<<<<< HEAD
    margin: 11vh 0 4vmin 0;
=======
    margin: 11vh 0 5vmin 0;
>>>>>>> 654ef392ec8b0df5b9970a80d3f7e7b96d2e8bc3
    color: transparent;
    font-size: 4vmax;
    font-weight: 600;
    background-image: radial-gradient(
      circle,
      #e83929,
      #ec521e,
      #f16b1c,
      #f4821d,
      #f79723,
      #ff9244,
      #ff8554,
      #ff7f68,
      #ef6a8f,
      #c568b0,
      #836ec0,
      #1d71b8
    );
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
