.aboutSection {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  .content {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;

    // .illustration {
    //   margin: 0 2vh;
    //   // width: 3vmin;
    //   // display: flex;
    //   // align-items: start;
    //   // justify-content: end;
    //   img {
    //     width: auto;
    //     height: 5vmin;
    //   }
    // }

    .aboutMe {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      width: 85vw;
      margin: 0 1.5vw;
      // padding: 2vw;
      font-family: "Mulish", sans-serif;
      font-size: 2.9vmin;
      font-weight: 400;
      // line-height: 1.4;
      letter-spacing: -0.438px;
      color: #e7e6e6;
      text-shadow: -1px -1px 4px #424242;

      p {
<<<<<<< HEAD
        margin: 1.3vh;
=======
        margin: 1.5vh;
>>>>>>> 654ef392ec8b0df5b9970a80d3f7e7b96d2e8bc3
      }
    }
  }
}

@media only screen and (max-width: 1020px) {
  .aboutSection {
    .content {
      .aboutMe {
        width: 95vw;
        // width: 92vw;
        font-size: 3.2vmin;
      }
    }
  }
}
